* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f5f5f5;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: #111;
    color: white;
}

.menu {
    display: flex;
    list-style: none;
    gap: 25px;
}

.menu li {
    cursor: pointer;
}


.hero {
    text-align: center;
    padding: 50px 20px;
}


.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding: 40px;
}

.card {
    background: white;
    width: 320px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card h3 {
    margin-bottom: 10px;
}

.footer {
    background: #111;
    padding: 20px;
}

.footer ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 25px;
    color: white;
}


.card>img{
    width: 280px;
    height: 200px;
}


.card>lavyu{
    width: 280px;
    height: 200px;
}